<div class="main">
  <div class="iconspace" *ngIf="!isDelete">
    <div role="button" class="add">
      <a class="iconstag3"> <img class="image" src="../../../assets/notifications_FILL0_wght400_GRAD0_opsz48.png"> </a>
    </div>
    <div role="button" class="add">
      <a class="iconstag3"> <img class="image" src="../../../assets/person_add_FILL0_wght400_GRAD0_opsz48.png"> </a>
    </div>
    <div role="button" class="add">
      <div role="button" class="addcolor" [matMenuTriggerFor]="colormenu" aria-label="Example icon-button with a menu">
        <a class="iconstag3"> <img class="image" src="../../../assets/palette_FILL0_wght400_GRAD0_opsz48.png"> </a>
        <mat-menu class="colorposition" #colormenu="matMenu">
          <div class="colorclass" *ngFor="let color of colors">
            <button class="color" mat-mini-fab (click)="setColor(color)" [style.background]="color.name"></button>
          </div>
        </mat-menu>
      </div>
    </div>
    <div role="button" class="add">
      <a class="iconstag3"> <img class="image" src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.png"></a>
    </div>
    <div role="button" class="add" *ngIf="!archive">
      <a class="iconstag3"> <img class="image" src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.png"
          (click)="archiveNote()"> </a>
    </div>
    <div role="button" class="add" *ngIf="archive">
      <a class="iconstag3">
        <img class="image" src="../../../assets/unarchive.png" (click)="unArchive()">
      </a>
    </div>
    <div role="button" class="add">
      <a class="iconstag3"> <button mat-icon-button [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="trash()"> Delete note</button>
          <button mat-menu-item>Make a copy</button>
          <button mat-menu-item>Add label</button>
        </mat-menu>
      </a>
    </div>
  </div>  
  <div role="button" class="hello" *ngIf="isDelete">
    <img class="image" src="../../../assets/delete_forever.png" (click)="deleteNote()">
  </div>
  <div role="button" class="hello" *ngIf="isDelete">
    <img class="image" src="../../../assets/restore.png" (click)="restoreNote()">
  </div>
</div>