.maincontainer {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 1100px;
  position: relative;
  left: 150px;

}

.colorclass{
  display: flex;
  flex-wrap: row;
  align-items: center;
  flex-direction: row;
  //border: 1px solid black;
}
.hello{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 1px;
  width: 25px;
  height:25px;
}
.colorposition{
  display: flex;
  flex-direction: row;
  // border: 1px solid black;
  flex-wrap: wrap;
}
::ng-deep
  .mat-mdc-menu-content {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  ::ng-deep
  .mat-mdc-menu-panel.mat-mdc-menu-panel {
    min-width: 112px;
    max-width: 400px; 
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    flex-wrap: wrap;
}

.color{
  height: 30px;
  width:30px;
  display: flex;
  justify-content: space-around;
  padding-left: 12px;
  border-radius: 200px;
  flex-direction: row;
}
.main{
  display: flex;
  height: 60px;
  align-items: center;
  align-items: center;
  padding-left: 10px;
}
.add{
  padding-left: 5px;
  padding-top: 2px;
  padding-right: 5px;
  border: 10px;
  display: flex;

  .image{
    display: flex;
    width: 25px;
    height:25px;
  }
 cursor: pointer;
 :hover{
  border-radius: 50%;
 }
}


.iconspace {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;

}

@media only screen and (min-width: 300px) and (max-width: 900px) {
  .maincontainer {
    height: 1000px;
    width: 100%;
    margin-left: 10px;
  }
}