.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;
  justify-content: center;
}
.example-app-name {
margin-left: 8px;
position: relative;
top: 10px;
width:150px;
}
.example-sidenav-container {
  flex: 1;
  }
.snav{
  width: 218px;
  
}
.img-style{
  height: 22px; 
  width: 20px;
}

.mat-nav-list{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.align-nav-content{
    margin-bottom: 10px;
    margin-left: 25px;
    font-size: 21px;
    position: relative;
    bottom: 5px;
}
.settinglogo{
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.example-is-mobile .example-toolbar {

    z-index: 2;
}
.uperlogo{

  height: 30px;
  width: 30px;
  cursor: pointer;
  
  
}

.search_bar{
  height:50px; 
  width: 850px; 
  margin-left :5px;
  border-radius: 10px;
  margin-top: 0px;
}
.five_icons{
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-left: 350px;
  align-items: center;
}
.threelogo{
display: flex;
width: 200px;
justify-content: space-evenly;
}
.twologo{
 display: flex;
//border: 1px solid black;
width: 150px;
justify-content: space-evenly;
}

#logo{
  background-image: url('https://www.shutterstock.com/image-vector/magnifying-glass-basic-vector-icon-600w-1690477978.jpg');
  position: left;
  padding-left: 40px;
  background-size: 50px;
  background-repeat: no-repeat;
}


@media (min-width: 721px) and (max-width: 1280px) {
  .example-container {
    margin-bottom: 10px;
    justify-content: center;
  }
  .example-app-name {
  margin-left: 8px;
  
  position: relative;
  top: 10px;
  width:150px;
  }
  .example-sidenav-container {
    flex: 1;
    }
  .snav{
    width: 218px;
    
  }
  .img-style{
    height: 30px; 
    width: 30px;
  }
  
  .mat-nav-list{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .align-nav-content{

      margin-bottom: 8px;
      margin-left: 25px;
      font-size: 21px;
  }
  
  .searchbar{
    margin-left: 15px;
     margin-top: 10px;
     width: 35px;

    margin-bottom: -10px;
  }
  .example-is-mobile .example-toolbar {
 
      z-index: 2;

  }
  
  .search_bar{
    height:50px; 
    width: 850px; 
    margin-left :5px;
    border-radius: 10px;
    margin-top: 0px;
  }
  .five_icons{

    width: 400px;
    margin-left: 10px;

  }
  .threelogo{
    width: 150px;    
    }
    .twologo{
    width: 100px;

    }
  
  #logo{
    background-image: url('https://www.shutterstock.com/image-vector/magnifying-glass-basic-vector-icon-600w-1690477978.jpg');
    position: left;
    padding-left: 40px;
    background-size: 50px;
    background-repeat: no-repeat;
  }
}

