<div class="maincontainer">
    <div [style.background-color]="note.color" class="takeAnote" *ngFor="let note of notelist | filterPipe:Search ">
        <div>
            <div class="update" >
                <div (click)="updateNote(note)">
                    {{note.title}}
                </div>
                <div (click)="updateNote(note)">
                    {{note.description}}
                </div>
            </div>
            
            <div class="hide">
                <app-icons [noteCard]="note" (displaytoIcons)="receiveMsgIconsToDisplay($event)"></app-icons>

            </div>
        </div>


    </div>
</div>