
<div class="maincontainer" >
    <div class="takeAnote" *ngFor="let note of notelist" > 
        <div class="update">
            <div (click)="updateNote(note)" >
                {{note.title}}
            </div>
            <div (click)="updateNote(note)">
                {{note.description}}
            </div>
        </div>
        
        <div>
            <div >
                    <app-icons [noteCard]="note" (messageTrashToDisplay)="recievefromiconstodisplaycard($event)" ></app-icons>
            </div>
        </div>
        
    </div>
</div>
