.maincontainer{
  display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 75%;
    position: relative;
    left: 15vw;
    
}
.update{
margin-top: 10px;
height: 50px;
padding-left: 15px;
}


.hide{
  visibility: hidden;
}
.takeAnote:hover .hide{
  visibility: visible;
}
.takeAnote {
  width: 250px;
  margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    background: #fff;
    margin-top: 40px;
    margin-left: 10px;
  margin-right: 10px;
}




@media (min-width: 721px) and (max-width: 1280px){
  .maincontainer{
      width: 95%;
      left: 6vw;
      
  }
  .update{
    margin-top: 10px;
    height: 40px;
    }
  .takeAnote {
    width: 250px;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    background: #fff;
    margin-top: 40px;
    margin-left: 10px;
  margin-right: 10px;
  }
  .hide{
    visibility: hidden;
  }
  .takeAnote:hover .hide{
    visibility: visible;
  }

 
}