<div class="dialog-container"> 

    <div class="takeAnote">
     
            <div class="titleInputSection">
                <input matInput [(ngModel)]="title" value="{{title}}" class="titleInput"  >
                 <p></p>
            </div>

            <div>
                <div appearance="outline">
                    <textarea matInput  [(ngModel)]="description" value="{{description}}"  class="noteDescription"
                        ></textarea>
                </div>
                <div class="container">
                    <div class="icons">
                        <app-icons></app-icons>
                    </div>
                    
                    <div class="closebutton"  >
                        <button mat-button mat-dialog-close (click)="onNoClick()" >Close</button>
                    </div>
                </div>
                
                
                    
                
            </div>
    </div>
</div>
